<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132974123698-5s5qp738onibe9g6ogmfvhvbt696lndo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132974123698-5s5qp738onibe9g6ogmfvhvbt696lndo</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ5u9Zpowq5oSEjBwsgHMbxNLsljXIQz8</string>
	<key>GCM_SENDER_ID</key>
	<string>132974123698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.safasport.SAFA</string>
	<key>PROJECT_ID</key>
	<string>safa-sport</string>
	<key>STORAGE_BUCKET</key>
	<string>safa-sport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132974123698:ios:a7808b3e5f535b462847ab</string>
</dict>
</plist>